
a {
  color: white;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

body {
  background-color: #b4b0b0;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  margin: 0 auto; 
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/*  nav animations */
div.container {
  margin: 0 auto;
  text-align: right;
}

div.container a {
  text-decoration: none;
  font: 20px roboto;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  /* z-index: 0; */
  cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0);
}

/* main hero img */
div.introImg {
  /* background: url('../img/introimg.jpg'); */
  background: url('../img/computerBackground.jpg');
  height: 100vh;
  background-size: cover;
  color: white;
}

h1 {
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
  font-size: 10vw;
}

h3 {
  font-size: 2.3em;
  margin: 2em;
}

h4 {
  font-size: 1.5em;
  text-align: center;
}

/* smooth-scrolling */
html {
  scroll-behavior: smooth;
}

.profileBio {
  background: url('../img/biobackground.jpg');
  background-size: cover;
  height: 100vh;
  font-size: 1.1em;
  line-height: 30px;
  color: white;
}

.aboutMe {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* black image over containerProject */
.containerProject:hover .middle {
  opacity: 1;
}

.containerProject:hover .middleFeatured {
  opacity: 1;
  width: 50%;
  float: right
}

.containerProject {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.144);
}

#featuredProject {
  width: 80%;
}

.email {
    float: right;
    opacity: .7;
    bottom : 0;
    right: 0;
    position: fixed;
    margin-right: 15px;
    margin-bottom: 4px;
}
.email a {
  text-decoration: none;
}

.email img {
  vertical-align: middle;
}

/* typewriting effect is hidden until page fully loads */
.hidden {
  visibility: hidden;
}

.h3Contact {
  margin-top: 0;
  padding-top: 2em;
}

.image {
  border-radius: 10px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 150px;
  border-radius: 50%;
}

.middle, .middleFeatured {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b4b0b0;
}

/* .middleFeatured {
  
} */

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  padding: 10px;
}

/*  Profile footer flexbox */
.profile_footer {
  float: left;
  position: fixed;
  margin-left: 15px;
  bottom: 0;
  display: grid;
}

.profile_footer__item {
  /* padding: 5px; */
  margin: 2px;
  grid-column: 1 / 1;
  opacity: .7;
}

.profile__portrait {
  margin: 1em;
  border-radius: 50%;
}

.skillsContainer {
  background: #e6ecf0;
  border: 1px solid rgb(49, 47, 47);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  display: inline-block;
  margin: 25px;
	padding: 10px;
  width: 25%;
}

.skillsContainer img {
  margin: 7px;
}

.skillsDescription {
  background: #e6ecf0;
  border: 1px solid rgb(49, 47, 47);
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 10px;
  text-align: left;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.skillsList {
  margin-top: .25em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.text {
  color: black;
  text-align: center;
  font-size: 1.2em;
  padding: 15px 30px;
}

.containerImage {
  display: block;
  width: 100%;
  height: auto;
}

.text .code {
  float: left;
}

.text .website {
  float: right;
}

.typing {
    display: inline-block;
    font-size: 5vw;
    letter-spacing: .05em; 
    margin: 0 auto; 
    width: auto;
}

#portfolio {
  background-color: rgb(17, 16, 16);
  color: white;
  margin-top: 5em;  
  padding-bottom: 5em;
  padding-top: 1em;
}

/* adjustment of projects to single */
@media (max-width: 1200px) {
  .containerProject {
    display: block;
    margin: 10px auto;
    width: 90% !important;
  }
}

@media (max-width: 600px) {
  .skillsContainer {
    width: 65%;
  }

  .introText {
    padding-top: 60vw;
    display: block;
  }

  .profileBio {
    display: block;
    background-image: none !important;
    color: black !important;
    /* background-color: #b4b0b0; */
  }
  
  .profile_footer {
    margin-top: 50px;
    padding: 10px;
    float: none !important;
    position: relative;
    display: inline;
  }
  .email {
      padding: 10px;
      float: none !important;
      position: relative;
      display: block;
      margin-bottom: 10px;
  }

  .profile_footer__item {
    padding: 25px;
  }
}
