body {
	background-color: #1d1b1c;
	color: white;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
}

div.introImg {
	background: url('../img/computerBackgroundMobile.jpg');
	height: 100vh;
	background-size: cover;
}

hr {
	width: 75%;
	/* margin: 20px; */
	margin: 3em auto;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(158, 145, 145, 0),
		rgba(212, 207, 207, 0.75),
		rgba(158, 145, 145, 0)
	);
}

.typing {
	display: inline-block;
	font-size: 5vw;
	letter-spacing: 0.05em;
	margin: 0 auto;
	width: auto;
}

h2 {
	margin-top: 0;
	letter-spacing: 0.2em;
	font-size: 1.2em;
}

.featuredContainer {
	width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.image {
	border-radius: 10px;
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.project {
	margin-top: 5em;
}

.projectInfo {
	position: relative;
}

.card {
	background-color: #4f4f4f;
	padding: 2rem;
}

.project_header {
	padding-bottom: 1rem;
	border-bottom: 1px solid white;
}

.projectImage {
	width: 100%;
}

.introText {
	padding-top: 60vw;
}

h1 {
	margin-top: 0;
	padding-top: 1em;
	font-size: 10vw;
}

h3 {
	font-size: 2.3em;
}

/* nav animations */

/* smooth-scrolling */
html {
	scroll-behavior: smooth;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	padding: 10px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 98%;
	z-index: 1;
}

a {
	color: white;
	text-decoration: none;
}

a:hover,
a:focus {
	/* No underlining when hovering over a link */
	text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

div.container {
	margin: 0 auto;
	text-align: right;
}

div.container a {
	text-decoration: none;
	font: 20px roboto;
	/* margin: 0 10px; */
	padding: 5px;
	position: relative;
	cursor: pointer;
}
/* Top and Bottom borders go out */
div.topBottomBordersOut a:before,
div.topBottomBordersOut a:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	content: '';
	opacity: 0;
	transition: all 0.3s;
}

div.topBottomBordersOut a:before {
	top: 0;
	transform: translateY(10px);
}

div.topBottomBordersOut a:after {
	bottom: 0;
	transform: translateY(-10px);
}

div.topBottomBordersOut a:hover:before,
div.topBottomBordersOut a:hover:after {
	opacity: 1;
	transform: translateY(0);
}

/* project hover over modals */
/* black image over containerProject */
.containerProject:hover .middle {
	opacity: 1;
}

.containerProject:hover .middleFeatured {
	opacity: 1;
	width: 80%;
	float: right;
}

.containerProject {
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 90%;
	margin-top: 5em;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.144);
}
.otherProjects {
	margin: 2em;
}

.middle {
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #4f4f4f;
}

.code {
	float: left;
}

.website {
	float: right;
}
/* TERMINAL */
/* hidding terminal for mobile */
.trigger {
	visibility: hidden;
}

h4 {
	font-size: 1.2em;
}
/* module terminal */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 5;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #4f4f4f;
	padding: 1rem 1.5rem;
	height: 75%;
	width: 75%;
	border-radius: 0.5rem;
	z-index: 5;
	text-align: left;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: darkgray;
}

.close-button:hover {
	background-color: rgb(75, 74, 74);
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.Terminal {
	overflow-x: hidden;
	overflow-y: auto;
}

.projects {
	color: #69c2cf;
}

.cd.projects {
	color: white;
}

.projects.ls {
	color: white;
}

.file.projects {
	color: white;
}

.cat.projects {
	color: white;
}

.cat.hidden {
	opacity: 1;
}

div .hidden {
	opacity: 0.5;
}

.hiddenImg {
	height: 45%;
	width: 45%;
}
/* portrait picture */

.profile__portrait {
	position: absolute;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin: -150px 0px 0px -150px;
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all 0.25s ease-in-out;
}

.profile__portrait:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1);
}

.imageBorder {
	border: 5px solid white;
	border-radius: 50%;
	height: 350px;
	width: 350px;
	position: relative;
	margin: auto;
}
/* centering pic */
.profileBioLeft {
	margin: auto;
	padding-top: 2em;
	width: 90%;
}
.mediaLinks {
	margin-top: 4em;
}
.mediaLinks a {
	padding-left: 20px;
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
	-webkit-transition: all 0.25s ease-in-out;
}

.mediaLinksFooter a {
	margin: 20px;
}

.mediaLinksFooter {
	padding-bottom: 50px;
}

.profile_media:hover {
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1);
}

.profileBioRight {
	width: 90%;
	margin: auto;
	font-size: 1.1em;
}

@media (min-width: 950px) {
	div.introImg {
		background: url('../img/computerBackground.jpg');
		height: 100vh;
		background-size: cover;
	}

	.introText {
		padding-top: 0;
	}

	.featuredContainer {
		width: 60%;
		margin-bottom: 2em;
	}

	.project {
		display: flex;
		align-items: center;
	}

	.projectInfo {
		width: 45%;
	}

	.projectImage {
		width: 75%;
	}

	.project:nth-child(odd) .projectInfo {
		margin-right: -4rem;
	}

	.project:nth-child(odd) .card:before {
		right: -10px;
	}

	.project:nth-child(odd) .card__header,
	.project:nth-child(even) .projectInfo {
		order: 1;
		margin-left: -4rem;
	}

	.project:nth-child(even) .card:before {
		left: -10px;
	}

	.card:before {
		bottom: auto;
	}

	.profileInfoContainer {
		width: 75%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70vh;
	}

	.profileBioLeft {
		display: inline-block;
		width: 40%;
		margin-right: 5em;
		max-width: 50%;
	}

	.profileBioRight {
		display: inline-block;
		width: 45%;
		text-align: left;
	}
	.profileBio {
		margin-bottom: 10em;
	}
	/* Terminal showing */
	.trigger {
		visibility: visible;
	}

	.containerProject {
		width: 40%;
		margin: 2em;
	}
	.text {
		font-size: 1.2em;
		padding: 15px 30px;
	}
}
