:root {
  --primary-color: #b4b0b0;
  --secondary-color: black;
  --brown: #7c5b5b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #b4b0b0;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}

a {
  color: #7c5b5b;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* curser to pointer */

  cursor: pointer;
  opacity: 0.8;
}

.codeLinkWebsite {
  float: left;
}

.codeWebsiteLive {
  float: right;
}

/*  page header */
.page-header {
  display: flex;
  /* width: 100%; */
  padding: 20px;
}

.page-header__item {
  flex: 0 1 150px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 150px;
  border-radius: 50%;
}

/* not recognizing last child command */
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  padding: 10px;
  /* margin-left: 15px; */
}

/* PROFILE */
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

/*  Profile footer flexbox */
.profile_footer {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_footer__item {
  padding: 5px;
  margin: 5px;
  grid-gap: 5px;
}

h1 {
  text-align: center;
  font-size: 8em;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Grid work page */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  /* background: #ecd9c6; */
  padding: 5px;
  width: auto;
}

.jquery {
  background: url('../img/jquery.png');
  max-width:100%;
  height:auto;
}

.vueTodo {
  background: url('../img/vue.png') no-repeat center center fixed;
  max-width:100%;
  height:auto;

}
.angularQuiz {
  background: url('../img/angular.png') no-repeat center center fixed;

}
.healthyPotatos {
  background: url('../img/mern.png');
  max-width:100%;
  height:auto;
}

.card {
  margin: 10px;
}

.card-body {
  background: #ecd9c6;
}

/* .grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
} */

/*  screen sice responsiveness 3 grids to 1 at 500px */
/* @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }
} */

/*  nav animations */
div.container {
  margin: 0 auto;
  padding: 3em 3em;
  text-align: center;
}

div.container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font: 20px roboto;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}


/* Top and Bottom borders go out */

div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0);
}

div.introImg {
  background: url('../img/introimg.jpg');
  height: 100vh;
  background-size: 100% 100%; 
}

/* typing web developer */
.typewriter {
  display: inline-flex;
}

.typewriter h2 {
  display: inline-block;
  font-size: 4em;
  width: auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; 
  letter-spacing: .05em; 
  animation: 
    typing 2.0s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}